In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
saf=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\SCOM Historical Data.csv')
scbk=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\SCBK Historical Data.csv')
scan=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\SCAN Historical Data.csv')
nmg=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\NMG Historical Data.csv')
ncba=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\SCBK Historical Data.csv')
kgna=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\KQNA Historical Data.csv')
kplc=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\KPLC Historical Data.csv')
kegn=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\KEGN Historical Data.csv')
kcb=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\KCB Historical Data.csv')
eqty=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\EQTY Historical Data.csv')
eabl=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\EABL Historical Data.csv')
ctum=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\CTUM Historical Data.csv')
coop=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\COOP Historical Data.csv')
brit=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\BRIT Historical Data.csv')
bat=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\BAT Historical Data.csv')
bamb=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\BAMB Historical Data.csv')
arm=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\ARM Historical Data.csv')
absa=pd.read_csv(r'C:\Users\hp\Downloads\Kenyanstockdata\ABSA Historical Data.csv')

In [3]:
saf.drop(saf.iloc[:,2:7],inplace=True,axis=1)
eabl.drop(eabl.iloc[:,2:7],inplace=True,axis=1)
eqty.drop(eqty.iloc[:,2:7],inplace=True,axis=1)
brit.drop(brit.iloc[:,2:7],inplace=True,axis=1)

In [4]:
saf.rename(columns={'Price':'Safcom'},inplace=True)
saf

              Date  Safcom
0     Sep 11, 2020   30.05
1     Sep 10, 2020   29.95
2     Sep 09, 2020   29.05
3     Sep 08, 2020   29.00
4     Sep 07, 2020   29.05
...            ...     ...
1418  Jan 08, 2015   13.75
1419  Jan 07, 2015   13.90
1420  Jan 06, 2015   13.90
1421  Jan 05, 2015   14.05
1422  Jan 02, 2015   14.15

[1423 rows x 2 columns]

In [5]:
import bs4
import requests
import os
from bs4 import BeautifulSoup
import lxml.html as lh

In [6]:
url='https://www.investing.com/indices/ftse-jse-shr-top-40-historical-data'
payload={'header':'FTSE JSE SHR TOP 40 Historical Data','st_date':'01/01/2015','end_date':'09/11/2020','sort_col':'date','action':'historical_data','smIID':'2079309','sort_ord':'DESC','interval_sec':'Daily','curr_id':'951272'}
header={'user-Agent':'Mozilla/5.0 (Windows NT 10.0;Win64;x64)AppleWebKit/537.36(KHTML, like Gecko)Chrome/85.0.4183.102 Safari/537.36'}
wheatgrass=requests.post(url,data=payload,headers=header)
soup=BeautifulSoup(wheatgrass.content,"lxml")

In [9]:
table=soup.find_all('table',id='curr_table')
table
splitrows=table.find_all('tr')

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [8]:
for row in header_list:
        columns = list(row.stripped_strings)
        columns = [column.replace(',','') for column in columns]
        if len(columns) == 7:
            output_file.write("{0}, {1}, {2}, {3}, {4}, {5}, {6} \n".format(columns[0], columns[1], columns[2], columns[3], columns[4], columns[5], columns[6]))

NameError: name 'header_list' is not defined

In [ ]:
 for row in split_rows_rev:
        columns = list(row.stripped_strings)
        columns = [column.replace(',','') for column in columns]
        if len(columns) == 7:
            output_file.write("{0}, {1}, {2}, {3}, {4}, {5}, {6} \n".format(columns[0], columns[1], columns[2], columns[3], columns[4], columns[5], columns[6]))